@mixin fonts($font-family, $src, $weight, $style) {
  @font-face {
    font-family: $font-family;
    src:
      url("../../fonts/#{$src}.woff2"),
      url("../../fonts/#{$src}.woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
