@use "../module.scss";

.additional {
  padding-block: 22px;

  @include module.grid-md-block {
    padding-block: 26px;
  }
}

.additional__content {
  @include module.grid-lg-block {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional__title {
  margin-block: 0 38px;

  @include module.grid-md-block {
    margin-bottom: 80px;
  }
}

.additional__item-title {
  font-family: module.$var-font-family-secondary;
  text-transform: uppercase;
}

.additional__list {
  margin-block: 0 35px;
  padding-left: 0;

  @include module.grid-md-block {
    margin-bottom: 70px;
  }

  @include module.grid-lg-block {
    margin-bottom: 0;
  }
}

.additional__promo {
  position: relative;
  display: block;
  padding: 58px 58px 43px;
  text-align: center;
  color: module.$var-color-text-secondary;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    linear-gradient(module.$var-bg-color-accent-opacity, module.$var-bg-color-accent-opacity),
    image-set(
      "../images/promo/promo-bg@1x.webp" 1x type("image/webp"),
      "../images/promo/promo-bg@1x.jpg" 1x type("image/jpeg"),
      "../images/promo/promo-bg@2x.webp" 2x type("image/webp"),
      "../images/promo/promo-bg@2x.jpg" 2x type("image/jpeg"),
    ),
    module.$var-line-gradient;

  @include module.grid-md-block {
    background-image:
      linear-gradient(module.$var-bg-color-accent-opacity, module.$var-bg-color-accent-opacity),
      image-set(
        "../images/promo/promo-bg-tablet@1x.webp" 1x type("image/webp"),
        "../images/promo/promo-bg-tablet@1x.jpg" 1x type("image/jpeg"),
        "../images/promo/promo-bg-tablet@2x.webp" 2x type("image/webp"),
        "../images/promo/promo-bg-tablet@2x.jpg" 2x type("image/jpeg"),
      ),
      module.$var-line-gradient;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 125px 60px 77px;
  }

  @include module.grid-lg-block {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        "../images/promo/promo-bg-desktop@1x.webp" 1x type("image/webp"),
        "../images/promo/promo-bg-desktop@1x.jpg" 1x type("image/jpeg"),
        "../images/promo/promo-bg-desktop@2x.webp" 2x type("image/webp"),
        "../images/promo/promo-bg-desktop@2x.jpg" 2x type("image/jpeg"),
      ),
      module.$var-line-gradient;
    display: block;
    padding: 55px 42px 43px;
  }

  &::before {
    content: "";
    display: block;
    mask-image: url("./../../icons/icon-gift.svg");
    width: 78px;
    height: 80px;
    margin-inline: auto;
    background: currentColor;

    @include module.grid-md-block {
      margin-inline: 0;
    }

    @include module.grid-lg-block {
      margin-inline: auto;
      margin-bottom: 48px;
    }
  }
}

.additional__promo-text {
  display: block;
  margin-top: 47px;

  @include module.grid-md-block {
    max-width: 161px;
    margin-top: 0;
    align-items: center;
    text-align: left;
  }

  @include module.grid-lg-block {
    text-align: center;
  }
}
