@use "../module.scss";

.button {
  display: block;
  cursor: pointer;
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  font-family: module.$var-font-family-secondary;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration, 0.2s);

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
  }

  &--size-xl-from-md {
    @include module.grid-md-block {
      font-size: 20px;
      line-height: 26px;
      padding: 14px;
    }
  }

  &--size-xl {
    font-size: 20px;
    line-height: 26px;
    padding: 15px;
  }

  @include module.grid-hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
