@use "../module.scss";

.main-footer {
  background-color: module.$var-bg-color;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-block: 40px;

  @include module.grid-md-block {
    flex-direction: row;
    justify-content: space-between;
  }

  @include module.grid-lg-block {
    padding-block: 50px;
  }
}

.main-footer__social {
  width: 100%;
  border-block: 1px solid module.$var-border-color-accent;

  @include module.grid-md-block {
    border: none;
    width: auto;
    margin-left: 37px;
  }
}

.main-footer__developer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  column-gap: 23px;

  @include module.grid-hover {
    &::after {
      background-color: module.$var-bg-color-accent;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @include module.grid-md-block {
    width: unset;
    justify-content: unset;
  }
}

.main-footer__developer::after {
  content: "";
  width: 27px;
  height: 34px;
  mask-image: url("./../../icons/logo-htmlacademy.svg");
  background-color: module.$var-bg-color-secondary-dark;
}
