@use "../module.scss";

.nav-site {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-secondary, oswald), sans-serif;

  @include module.grid-md-block {
    border: none;
    flex-direction: row;
    gap: 10px 35px;
  }
}

.nav-site--contrast {
  @include module.grid-lg-block {
    color: var(--color-text-secondary, #ffffff);
  }

  & .nav-site__link--current::after {
    @include module.grid-lg-block {
      background-color: var(--background-color, #ffffff);
    }
  }
}

.nav-site__item {
  text-align: center;
}

.nav-site__link {
  position: relative;
  display: block;
  padding-block: 21px 24px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border-bottom: 1px solid #e6e6e6;
  padding-inline: 20px;
  transition-property: opacity;
  transition-duration: var(--transition-duration, 0, 2s);

  @include module.grid-hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include module.grid-md-block {
    border: none;
    font-size: 18px;
    line-height: 133%;
    padding: 12px 0;
  }

  @include module.grid-lg-block {
    font-size: 20px;
  }
}

.nav-site__link--current::after {
  @include module.grid-md-block {
    display: block;
    content: "";
    bottom: 3px;
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 100%;
  }
}
