@use "./../mixins/grid.scss";

.programs {
  padding-block: 20px;

  @include grid.md-block {
    padding-block: 17px 43px;
  }

  @include grid.lg-block {
    padding-block: 82px 35px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  row-gap: 20px;

  @include grid.md-block {
    row-gap: 30px;
  }

  @include grid.lg-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  padding: 29px 20px 22px;
  background-color: #d9d9d9;

  @include grid.md-block {
    padding: 75px 320px 64px 53px;
  }

  @include grid.lg-block {
    padding: 77px 52px 65px;
  }
}

.programs__decor {
  position: absolute;
  top: 24px;

  @include grid.md-block {
    top: 88px;
    right: 63px;
  }

  @include grid.lg-block {
    top: 47px;
    right: auto;
  }

  &::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;

    @include grid.md-block {
      width: 200px;
      height: 200px;
    }

    @include grid.lg-block {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--slim::after {
    width: 38px;
    height: 50px;
    background-image: url("./../../icons/cat-slim.svg");
    bottom: 3px;
    left: 7px;

    @include grid.md-block {
      width: 140px;
      height: 194px;
      bottom: 17px;
      left: 30px;
    }

    @include grid.lg-block {
      width: 70px;
      height: 97px;
      bottom: 10px;
      left: 15px;
    }
  }

  &--pro::after {
    width: 67px;
    height: 28px;
    background-image: url("./../../icons/cat-pro.svg");
    top: 11px;
    right: -9px;

    @include grid.md-block {
      width: 268px;
      height: 112px;
      top: 44px;
      right: -34px;
    }

    @include grid.lg-block {
      width: 134px;
      height: 56px;
      top: 20px;
      right: -15px;
    }
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: var(--font-family-secondary, "Oswald"), "Arial", sans-serif;
  font-weight: 400;
  margin-block: 0 29px;
  margin-left: 70px;

  @include grid.md-block {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @include grid.lg-block {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__desc {
  margin-block: 0 19px;
  padding-bottom: 23px;

  @include grid.md-block {
    margin-bottom: 35px;
  }

  @include grid.lg-block {
    margin-bottom: 8px;
  }
}

.programs__link {
  display: flex;
  align-items: center;
  column-gap: 17px;
  font-family: var(--font-family-secondary, "Oswald"), "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: var(--transition-duration, 0.2s);

  @include grid.md-block {
    font-size: 20px;
    column-gap: 25px;
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 12px;
    background-image: url("./../../icons/icon-arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 32px 12px;
    transition-property: width;
    transition-duration: var(--transition-duration, 0, 2s);
  }

  @include grid.hover {
    &::after {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    width: 32px;
  }
}
