@use "../module.scss";

.social-list {
  display: flex;
  list-style: none;
  margin-block: 0;
  padding: 20px 0;
  justify-content: center;
  column-gap: 24px;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;

  &::before {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #666666;
    transition-property: background-color;
    transition-duration: var(--transition-duration, 0.2s);
  }

  @include module.grid-hover {
    &::before {
      background-color: var(--background-color-accent, #68b738);
    }
  }

  &:active {
    transition-property: opacity;
    transition-duration: var(--transition-duration, 0.2s);
    opacity: 0.3;
  }

  &--vk::before {
    mask-image: url("./../../icons/icon-vk.svg");
  }

  &--telegram::before {
    mask-image: url("./../../icons/icon-telegram.svg");
  }

  &--youtube::before {
    mask-image: url("./../../icons/icon-youtube.svg");
  }
}
