@use "../module.scss";

.title-block {
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  font-family: module.$var-font-family-secondary;

  @include module.grid-md-block {
    font-size: 32px;
    line-height: 32px;
    padding-inline: 40px;
  }

  @include module.grid-lg-block {
    font-size: 40px;
    line-height: 40px;
    padding-inline: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    margin-top: 10px;
    inset-inline: 0;
    height: 2px;
    background-color: #68b738;
    z-index: -1;

    @include module.grid-md-block {
      margin-top: 15px;
    }
  }
}

.title-block__text {
  position: relative;
  display: block;

  &::before {
    content: "";
    display: block;
    inset: 0 -40px;
    position: absolute;
    z-index: -1;
    background-color: var(--background-color, #ffffff);

    @include module.grid-md-block {
      inset-inline: -40px;
    }
  }
}
